*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:  0px 10px;
    padding: 5px;
}

body{
    background-color: #0f0f1f;
    color: #f0f0f5;
    min-width: 400px;
}

.nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: aqua;
}

.nav ul li{
    font-size: 1em;
    font-weight: bolder;
    color: black;
}

.nav ul li a{
    text-decoration: none;
    color: inherit;
}

.container{
    text-align: center;
}

.header{
    font-size: 3em;
    font-weight: 900;
    margin: 30px 0px;
}

.header span{
    color:aqua;
}

.para h3{
    font-style: italic;
    margin-bottom: 10px;
}


.para button{
    width: 200px;
    background-color: transparent;
    color:aqua;
    font-size: large;
    cursor: pointer;
    margin: 10px 0px;
    border: #f0f0f5 solid 2px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.para .pass{
    background-color: rgba(0, 255, 255, 0.3);
    border: #00ffff solid 1px;
    display: inline;
    text-align: center;
}

