*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 5px;
}

body{
    box-sizing: border-box;
    min-width: 100px;
    background-color: #1f1f1f;
    color: #bbb;
    text-align: center;
}

.container{
    border: 1px solid #0ff;
    background-color: rgba(0, 255, 255, 0.1);
    width: max-content;
    align-self: center;
    border-radius: 20px;
}

.container h2{
    font-weight: bold;
    font-size: small;
    font-style: italic;
    letter-spacing: 5px;
    margin: 10px 0;
}

.container p{
    margin: 10px 0;
}

#indicator{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
}