*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 5px;
}

body{
    background-color: #0f1f1f;
    color: #f0f1f1;
    min-width: 300px;
}

.container{
    align-items: center;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

form input{
    background-color: rgba(0, 255, 255, 0.3);
    color: #f0f1f1;
    margin: 5px 0;
}

form input::placeholder{
    color: #f0f1f1;
    font-style: italic;
}

#saveInfo, #copyURL{
    width: 200px;
    border: 1px solid #00ffff;
    background-color: transparent;
    color: #00ffff;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
}

#savedReferences{
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
    height: 150px;
    overflow-y: scroll;
    scrollbar-width:none;
    scrollbar-gutter: 1px;
    border: 1px solid #00ffff;
    background-color: rgba(0, 255, 255, 0.3);
    margin: 10px 0px;
    box-sizing: border-box;
}

#savedReferences li a{
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

#copyInfo, #clearStorage{
    width: 200px;
    border: 1px solid #fff;
    background-color: #0ff;
    color: #0f1f1f;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: 500;
}

@media (max-width:500px) {
    form input{
        margin: 5px 0px;
    }

    #saveInfo, #copyURL, #copyInfo, #clearStorage{
        margin: 10px 0;
    }

    #savedReferences{
        margin-right: 5px;
    }
}